/* html rules
--------------------*/

/* id rules
--------------------*/
/*
#sheet{
    position:relative;
	display: block;
    margin-left: auto;
    margin-right: auto; 
}
*/

/*
section{
	min-width: 950px;
	margin: 0 auto;
}
*/

body{
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
}

#character_sheet{
    width: 950px;
    height: auto;
	display: block;
}


/*
Character
*/

#name{
    position: absolute;
    top: 35px;
    left: 45px;
}


#profession{
    position: absolute;
    top: 79px;
    left: 390px;
	font-size: 1.2em;
}



#languageGroup{
    position: absolute;
    top: 622px;
    left: 236px;
    font-size: 0.9em;
    width: 340px;
}


#strength{
    position:absolute;
    top: 222px;
    left: 173px;
	font-size: 1.8em;
}

#strengthMod{
    position:absolute;
    top: 222px;
    left: 245px;
	font-size: 1.8em;
}

#agility{
    position:absolute;
    top: 257px;
    left: 173px;
	font-size: 1.8em;
}

#agilityMod{
    position:absolute;
    top: 257px;
    left: 245px;
	font-size: 1.8em;
}


#stamina{
    position:absolute;
    top: 292px;
    left: 173px;
	font-size: 1.8em;
}

#staminaMod{
    position:absolute;
    top: 292px;
    left: 245px;
	font-size: 1.8em;
}



#personality{
    position:absolute;
    top: 323px;
    left: 173px;
	font-size: 1.8em;
}

#personalityMod{
    position:absolute;
    top: 323px;
    left: 245px;
	font-size: 1.8em;
}


#intelligence{
    position:absolute;
    top: 358px;
    left: 173px;
	font-size: 1.8em;
}

#intelligenceMod{
    position:absolute;
    top: 358px;
    left: 245px;
	font-size: 1.8em;
}



#luck{
    position:absolute;
    top: 393px;
    left: 173px;
	font-size: 1.8em;
}

#luckMod{
    position:absolute;
    top: 393px;
    left: 245px;
	font-size: 1.8em;
}




#baseAC{
	position: absolute;
    top: 165px;
    left: 125px;
	font-size: 1.7em;
}



#level{
	position: absolute;
    top: 98px;
    left: 176px;
	font-size: 1.2em;
}


#title{
	position: absolute;
    top: 98px;
    left: 220px;
	font-size: 1.2em;
}



#birthAugur{
    position: absolute;
    top: 510px;
    left:  338px;
	width: 220px;
	font-size: 1em;
}


#hitPoints{
	position: absolute;
    top: 165px;
    left: 255px;
	font-size: 1.6em;
}


#actionDiceGroup{
    position: absolute;
    top: 160px;
    left: 330px;
	font-size: 1.2em;
}


#critDie{
    position: absolute;
    top: 202px;
    left:  345px;
	font-size: 1.2em;
}

#critTable{
    position: absolute;
    top: 200px;
    left:  440px;
	font-family: serif;
	font-size: 1.5em;
}


#init{
    position: absolute;
    top: 600px;
    left:  160px;
	font-size: 1.8em;
}


#ref{
    position: absolute;
    top: 635px;
    left:  160px;
	font-size: 1.8em;
}



#fort{
    position: absolute;
    top: 670px;
    left:  160px;
	font-size: 1.8em;
}

#will{
    position: absolute;
    top: 700px;
    left:  160px;
	font-size: 1.8em;
}


#speed{
    position: absolute;
    top: 530px;
    left:  250px;
	font-size: 1.6em;
}



#fumbleDie{
    position: absolute;
    top: 565px;
    left: 235px;
	font-size: 1.2em;
}



#melee{
    position: absolute;
    top: 455px;
    left:  180px;
	font-size: 1.6em;
}


#meleeDamage{
    position: absolute;
    top: 455px;
    left:  245px;
	font-size: 1.6em;
}


#range{
    position: absolute;
    top: 482px;
    left:  180px;
	font-size: 1.6em;
}



#rangeDamage{
    position: absolute;
    top: 482px;
    left:  245px;
	font-size: 1.6em;
}



#artifactCheck{
    position: absolute;
    top: 180PX;
    left:  545px;
    font-size: 1.3em;
}

#maxTech{
    position: absolute;
    top: 185px;
    left:  660px;
    font-size: 2em;
}

#plantientAppearance{
    position: absolute;
    top: 675px;
    left:  240px;
	width: 200px;
	font-size: 1em;
}

#dieRollMethod{
    position: absolute;
    top: 1200px;
    left:  60px;
	font-size: 0.6em;
}

#physicalMutation0{
    position: absolute;
    top: 780px;
    left:  130px;
	font-size: 0.8em;
}


#physicalMutationType0{
    position: absolute;
    top: 780px;
    left:  355px;
	font-size: 0.8em;
}


#physicalMutationManifest0{
    position: absolute;
    top: 817px;
    left:  55px;
	font-size: 0.7em;
    width: 420px;
}


#physicalMutationEffect0{
    position: absolute;
    top: 877px;
    left:  55px;
	font-size: 0.7em;
    width: 420px;
}


#physicalMutation1{
    position: absolute;
    top: 933px;
    left:  130px;
	font-size: 0.8em;
}


#physicalMutationType1{
    position: absolute;
    top: 933px;
    left:  355px;
	font-size: 0.8em;
}


#physicalMutationManifest1{
    position: absolute;
    top: 970px;
    left:  55px;
	font-size: 0.7em;
    width: 420px;
}


#physicalMutationEffect1{
    position: absolute;
    top: 1030px;
    left:  55px;
	font-size: 0.7em;
    width: 420px;
}



#physicalMutation2{
    position: absolute;
    top: 780px;
    left:  580px;
	font-size: 0.8em;
}


#physicalMutationType2{
    position: absolute;
    top: 780px;
    left:  805px;
	font-size: 0.8em;
}


#physicalMutationManifest2{
    position: absolute;
    top: 817px;
    left:  505px;
	font-size: 0.7em;
    width: 420px;
}


#physicalMutationEffect2{
    position: absolute;
    top: 877px;
    left:  505px;
	font-size: 0.7em;
    width: 420px;
}


#physicalMutation3{
    position: absolute;
    top: 933px;
    left:  580px;
	font-size: 0.8em;
}


#physicalMutationType3{
    position: absolute;
    top: 933px;
    left:  805px;
	font-size: 0.8em;
}


#physicalMutationManifest3{
    position: absolute;
    top: 970px;
    left:  505px;
	font-size: 0.7em;
    width: 420px;
}


#physicalMutationEffect3{
    position: absolute;
    top: 1030px;
    left:  505px;
	font-size: 0.7em;
    width: 420px;
}


#defect0{
    position: absolute;
    top: 1106px;
    left:  110px;
	font-size: 0.8em;
}


#defectType0{
    position: absolute;
    top: 1106px;
    left: 355px;
	font-size: 0.8em;
}


#defectEffect0{
    position: absolute;
    top: 1146px;
    left:  55px;
	font-size: 0.7em;
    width: 380px;
}

#defect1{
    position: absolute;
    top: 1106px;
    left:  565px;
	font-size: 0.8em;
}


#defectType1{
    position: absolute;
    top: 1106px;
    left:  805px;
	font-size: 0.8em;
}


#defectEffect1{
    position: absolute;
    top: 1146px;
    left:  505px;
	font-size: 0.7em;
    width: 380px;
}